@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* variaveis */

:root {
    --mainFont:'Open Sans', sans-serif;
    --mainFontSize: 18px;
    --smallFont: 12px;
    --largeFont: 25px;
    --mobileFont: 15px;
    --fontColor: #FFF;
    --background-color: #000;
    --borderColor: #161b21;
}

/*MAIN PAGE - MOBILE FIRST*/

@media screen and (max-width: 768px) {
* {
  margin: 0;
  padding: 0;
  width: 100%;
}

html, body {
  background-color: var(--background-color);
  color: var(--fontColor);
  font-family: var(--mainFont);
  font-size: var(--mainFontSize);
}

img {
  height: auto;
}

#WalkedaMile {
  background-color: var(--fontColor);
  color: var(--background-color);
  text-align: center;
  font-weight: 700;
  padding: 5px;
}

.infoLogos {
  display: block;
  text-align: center;
  padding-top: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.border {
  border: 1px solid var(--borderColor);
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.conTitulo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

}

/*MEDIA QUERY*/
@media screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  html, body {
    background-color: var(--background-color);
    color: var(--fontColor);
    font-family: var(--mainFont);
    font-size: var(--mainFontSize);
  }
  
  img {
    height: auto;
  }

  #WalkedaMile {
    color: var(--background-color);
    font-size: var(--mainFontSize);
    text-align: center;
    font-weight: 700;
    padding: 10px;
  }
  
  .infoLogos {
    display: block;
    text-align: center;
    background-color: var(--fontColor);
    margin-top: 10px;
  }
  
  .container {
    display: flex;
  }

  .border {
  border: 1px solid var(--borderColor);
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-items: center;
  }

  .conTitulo {
  width: 40vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  #borderTitulo {
    width: 40vh;
  }

  #border3D {
    width: 50vh;
  }

}
  


/*FOOTER*/
footer {
    margin: 0 auto;
    color: var(--background-color);
    background-color: var(--fontColor);
    font-size: var(--mobileFont);
    position: fixed;
    width: 100%;
    bottom: 0;
}

.links {
    text-align: center;
    padding: 8px;
    padding-bottom: 5px;
}
