@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* variaveis */

:root {
    --mainFont:'Open Sans', sans-serif;
    --mainFontSize: 18px;
    --smallFont: 12px;
    --largeFont: 25px;
    --fontColor: #FFF;
    --background-color: #000;
    --borderColor: #161b21;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: var(--background-color);
  color: var(--fontColor);
  font-family: var(--mainFont);
  font-size: var(--mainFontSize);
}

#WalkedaMile {
    background-color: var(--fontColor);
    color: var(--background-color);
    padding: 3px;
    font-weight: 700;
}

img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
}

.infoLogos {
  display: block;
  text-align: center;
  padding-top: 10px;
}

.border {
  border: 1px solid var(--borderColor);
  height: 93vh;
  width: 100vh;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#borderTitulo {
    width: 40vh;
    padding-left: 5px;
    padding-right: 5px;
}

#borderMedia {
    width: 80%;
}

#border3D {
    width: 40vh;
}

.conTitulo {
  display: grid;
  width: 500px;
}

.conMedia {
    display: grid;
    width: 500px;
  }

.con3D {
  display: grid;
  width: 500px;
}

.logos {
  display: grid;
  align-items: center;
  justify-self: center;
}

.Model {
    display: grid;
    align-items: center;
    justify-self: center;
}

#logo1 {
  height: 240px;
  object-fit: contain;
}

#logo2 {
  height: 240px;
  object-fit: contain;
}

/*FOOTER*/

footer {
    margin: 0;
    color: var(--background-color);
    background-color: var(--fontColor);
    font-size: var(--smallFont);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.links {
    text-align: center;
    padding: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 992px) {
  .body{
    margin-bottom: 60px;
  }

  .container{
  display: grid;
  width: 95%;
  }

  .border {
  height: 50vh;
  width: 100%;
  margin: 10px;
  }

}